.pairWordSelected {
    color: white;
    background-color: black;
}

.pairAlreadyMatched {
    background-color: green;
}

.pairMatchCorrect {
    border-color: green;
}

.pairMatchIncorrect {
    border-color: red;
}